---
import style from "../../css/style.css";
import MainLayout from "../../layouts/MainLayout.astro";
export async function getStaticPaths() {
    const data = await fetch (
        "https://ffyutoujmfnsirgqayei.supabase.co/rest/v1/program2023",
        {
    method: "GET",
    headers: {
      apikey:
        "eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6ImZmeXV0b3VqbWZuc2lyZ3FheWVpIiwicm9sZSI6ImFub24iLCJpYXQiOjE2OTU5MjAzNTEsImV4cCI6MjAxMTQ5NjM1MX0._MQofBF4ewfenzMBblhewUu4Kn7vUPw8qYEfQ_Y0btY",
    },
  } 
  ).then((response) => response.json());

  return data.map((post) => {
    return {
        params: { slug: post.slug },
        props: { post },
    };
  });
}
const {post} = Astro.props;
console.log(post);
---

<MainLayout>
<section>
    <img src={post.image} alt="Exhibition photo"> 
    <article>
    <h2>{post.navn}</h2>
    <h3>{post.who}</h3>
    <div class="info" set:html={post.Info}></div>
    <h3>Thanks to</h3>
    <p class="location">{post.where}</p>
    <div class="kunstnerlist">
    <a href="#">Gå til kunstner</a>
</div>
</article>
</section>
</MainLayout>
<style>
    img{
        width: 85%;
    }
    .artist, .info, .location{
        margin: 20px;
        color: var(--primary-text);
    }
     .artist, .location, h2, h3{
        text-align: center;
    }
    section{
            grid-column: 2;
            grid-row: 2;
        }
        section img{
            margin: auto;
            max-width: 100%;
            display: block;
        }
        @media (min-width: 800px) {
            main {
                flex-direction: column;
            }
            section {
                margin-right: 20px;
                text-align: left;
            }
            .back {
                order: -1;
            }
        }
    </style>