---
import Card from "../components/Card.astro";
import Nav from "../components/Nav.astro";
import Logo from "../components/Logo.astro";
import "../css/style.css";
import Footer from "../components/Footer.astro";
import Filter from "../components/Filter.astro";

const data = await fetch(
  "https://ffyutoujmfnsirgqayei.supabase.co/rest/v1/program2023",
  {
    method: "GET",
    headers: {
      apikey:
        "eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6ImZmeXV0b3VqbWZuc2lyZ3FheWVpIiwicm9sZSI6ImFub24iLCJpYXQiOjE2OTU5MjAzNTEsImV4cCI6MjAxMTQ5NjM1MX0._MQofBF4ewfenzMBblhewUu4Kn7vUPw8qYEfQ_Y0btY",
    },
  }
).then((res) => res.json());

console.log(data);



---

<html lang="en">
  <head>
    <meta charset="utf-8" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <meta name="viewport" content="width=device-width" />
    <meta name="generator" content={Astro.generator} />
    <title>Exhibitons</title>
  </head>

  <body>
    <header>
      <Nav />
      <Logo />
      <Filter />
    </header>

    <main>
      <article class="filter1">
        {
          data
            .filter((card) => card.area === "1")
            .map((card) => {
              return <Card data={card} />;
            })
        }
      </article>
      <article class="filter2">
        {
          data
            .filter((card) => card.area === "2")
            .map((card) => {
              return <Card data={card} />;
            })
        }
      </article>
      <article class="filter3">
        {
          data
            .filter((card) => card.area === "1")
            .map((card) => {
              return <Card data={card} />;
            })
        }
      </article>
      <article class="filter4">
        {
          data
            .filter((card) => card.area === "3")
            .map((card) => {
              return <Card data={card} />;
            })
        }
      </article>
    </main>
    
    
  </body>
  <footer><Footer /></footer>
</html>

<style>

  article {
    display: grid;
    grid-template-columns: 1fr 1fr;
    justify-content: space-between;
    gap: 2rem;
    width: 100%;
  }

  main {
    margin: auto;
  }
  > @media (max-width: 575px) {
    article {
      display: flex;
      justify-content: center;
      align-items: center;
      flex-direction: column;
    }
  }
  @media (min-width: 1250px) {
    article {
      display: grid;
      grid-template-columns: 1fr 1fr 1fr 1fr;
    }
  }
</style>


