---
const { data } = Astro.props;
console.log(data);
---

<article>
  <a class="gotosingle" href={`/exhibitions/${data.slug}`}>
    <img src={data.image} alt="Exhibition photo"> 
  </a>
    <h2>{data.navn}</h2>
    <h3>{data.where}</h3>
  
  <h4 class="alink">
    <a class="linka" href={data.links} target="_blank">GÅ TIL KUNSTNER</a>
  </h4>
</article>

<style>
  article {
    text-align: center;
  }

  img {
    display: flex;
    border-radius: 50px;
    margin: 9% auto;
    width: 100%;
    border: solid white 2px;
    box-shadow: 0px 0px 10px 0px  rgba(255, 255, 255, 0.425);
  }
  
  img:hover{
    box-shadow: 0px 0px 10px 0px #038993;
  }

  h2 {
    justify-content: center;
    flex-wrap: balance;
    display: flex;
    color: white;
    font-size: 16px;
    margin: auto;
    white-space: nowrap;
  }

  h3 {
    display: flex;
    color: white;
    font-size: 12px;
    justify-content: center;
  }

  h4 {
    display: flex;
    color: white;
    justify-content: center;
  }

  .alink {
    display: flex;
    font-size: 14px;
    margin-top: 0;
    margin-bottom: 15%;
  }

  .linka {
    color: white;
  }

  .gotosingle {
    text-decoration: none;
  }

  @media (min-width: 850px) {

    h2 {
      
      font-size: 16px;
    }

    h3 {
      font-size: 16px;
      height: 10%;
    }

    h4 {
      font-size: 16px;
    }

    .alink {
      font-size: 16px;
    }

    .alink {
      margin-bottom: 25%;
    }
  }
</style>
